body {
	padding-top: 75px;
	font-family: "Times New Roman", Times, serif;
	overflow-x: hidden;
}

#internal_navbar a:link, #internal_navbar a:visited, #internal_navbar li{
	color: white;
	font-weight: bold;
	font-size: large;
}

/*.navbar_links {
	display: inline-block;
}*/

.navbar_links li:hover {
	background-color: #750000;
}

.select2 input {
	color: black;
}

.feed {
	width: 80%;
	margin: 15px auto;
}

.feed-header a:link, .feed-header a:visited{
	font-weight: bold;
	color: #800000;
	text-decoration: none;
	font-size: large;
}

.feed-header a:hover {
	text-decoration: underline;
}

.feed-content {
	font-size: large;
	padding-bottom: 10px;
}

.feed-content iframe {
	width: 90%;
	min-height: 450px;
	display: block;
	margin: auto;
	max-width: 800px;
	padding: 10px 0px;
}

.feed-links ul, .feed-footer ul {
	list-style: none;
	padding: 0px;
}

.feed-links ul li, .feed-footer ul li {
	display: inline-block;
}

.feed-links hr {
	margin: 8px 0px;
}

.feed-footer a:link, .feed-footer a:visited {
	color: black;
	text-decoration: none;
}

.feed-footer-comment {
	padding-bottom: 5px;
}

.comment-image {
	vertical-align: top;
	padding-right: 0px;
	display: table-cell;
}

.comment-non-image {
	padding-left: 0px;
	left: -20px;
	display: inline-block;
}

.comment-user a:hover {
	text-decoration: underline;
}

.comment-user {
	font-weight: bold;
	color: #800000;
}

.comment-input-textfield {
	left: -20px;
}

#feedloader {
	width: 80%;
	margin: 0px auto 15px auto;
	text-align: center;
}

#feedloader a:link, #feedloader a:visited {
	font-size: x-large;
	color: #800000;
}

.profile_buttons {
	vertical-align: bottom;
}

#friends_list a{
	font-size: large;
}

/* Search Bar */
.ui-select-container {
	margin-top: 10px;
}

.dropdown-header {
	font-size: large;
}

.ui-select-choices-row {
	background-color: white;
}


/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Toggle Styles */

#messenger {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#messenger_sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid black;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#messenger.toggled #messenger_sidebar {
    width: 250px;
}

#messenger_content {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#messenger.toggled #messenger_content {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #800000;
}

.sidebar-nav a:hover {
    text-decoration: none;
    color: white;
    background: rgba(128,0,0,0.3);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #800000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #000;
    background: none;
    background: rgba(128,0,0,0.3);
}

@media(min-width:768px) {
    #messenger {
        padding-left: 350px;
    }

    #messenger_sidebar {
        width: 350px;
    }

    #messenger_content {
        padding: 20px;
        position: relative;
    }
}