.profile_top {
    position:relative;
    top: 100px;

    & img {
        height: 200px;
        width: 200px;
    }

    .profile_link a {
        color: grey;
        font-size: 1.1em;
         &:hover {
             color: grey;
         }
    }
}