.profile_top {
    position:relative;
    top: 100px;

    & img {
        height: 200px;
        width: 200px;
    }

    .friends_status {
        margin: 15px 0px;
        display:block;
    }
    .profile_button {
        margin: 15px 0px;
        width: 200px;
    }
}